:root{
    --color_border:  rgb(207, 203, 203);
}

img{
    position: relative;
    top: 2.5em;
}


.Image{
    text-align: center ;
    color: white;
    font-size: large;
    width: auto;
    height: 130px;
    margin: 0.1%;
    background-color: rgb(140, 148, 155);
}

section{
    border-color: var(--color_border);
    border-style: solid;
    border-width: 1px;
    width: 20%;
}

h1{
    font-size: large;
}

.border{
    border-bottom-color: var(--color_border);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.margin{
    margin: 5%;
}

a{
    color: rgb(28, 28, 248);
}

.ancor{
    padding-left:5px;
}